<ul class="course-list">
    <li class="course-list__item">
        <a href="" >Development</a>
    </li>
    <li class="course-list__item">
        <a href="">IT & Software</a>
    </li>
    <li class="course-list__item">
        <a href="">Office Productivity</a>
    </li>
    <li class="course-list__item">
        <a href="">Photography</a>
    </li>
    <li class="course-list__item">
        <a href="">Health and Fitness</a>
    </li>
    <li class="course-list__item">
        <a href="">Music</a>
    </li>
</ul>