<ul class="course-list">
    <li class="course-list__item">
        <a [routerLink]="[{outlets:{primary:'development',sidemenu:'development'}}]" >Development</a>
    </li>
    <li class="course-list__item">
        <a [routerLink]="[{outlets:{primary:['development'],sidemenu:['development']}}]">IT & Software</a>
    </li>
    <li class="course-list__item">
        <a [routerLink]="[{outlets:{primary:['development'],sidemenu:['development']}}]">Office Productivity</a>
    </li>
    <li class="course-list__item">
        <a [routerLink]="[{outlets:{primary:'development',sidemenu:'development'}}]">Photography</a>
    </li>
    <li class="course-list__item">
        <a [routerLink]="[{outlets:{primary:['development'],sidemenu:['development']}}]">Health and Fitness</a>
    </li>
    <li class="course-list__item">
        <a [routerLink]="[{outlets:{primary:['development'],sidemenu:['development']}}]">Music</a>
    </li>
</ul>