<p>shopping-list works!</p>
<button (click)="addIngredient()">Add ingredient</button>
<br>
<button (click)="addIngredients()">Add ingredients</button>
<br>
<button (click)="removeIngredient(1)">remove 1</button>
<br>
<button (click)="removeIngredient(2)">remove 2</button>
<br>
<button (click)="removeIngredient(3)">remove 3</button>
<br>
<button (click)="removeIngredient(4)">remove 4</button>
<br>
<button (click)="removeIngredient(5)">remove 5</button>
<br>
<button (click)="updateIngredient(1)">update 1</button>
<br>
<button (click)="updateIngredient(2)">update 2</button>
<br>
<button (click)="updateIngredient(3)">update 3</button>