<p>servers works!</p>
<div class="list-group">
  <a [routerLink]="['/servers',5,'edit']" [queryParams]="{allowEdit:'1'}" [fragment]="'loading'">vai a users</a>
    <a  class="list-group-item list-group-item-action" >active</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
  </div>
<button class="btn btn-primary" (click)="onReloadServers()">Reload Servers</button>