<p>Servers</p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="list-group">
        <a
          *ngFor="let server of servers"
          [routerLink]="['/servers', server.id]"
          [queryParams]="{ allowEdit: server.id > 1 ? '1' : '0' }"
          [fragment]="'loading'"
          >{{ server.name }}</a
        >
      </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div></div>
<!-- <button class="btn btn-primary" (click)="onReloadServers()">
  Reload Servers
</button> -->
