<div class="container p-5">
   <div class="row">
     <div class="col-xs-12">
        <input type="text" [(ngModel)]="filterWord">
     </div>
   </div>
  <table class="table">
    <thead>
     
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Started</th>
        <th scope="col">Status</th>
        <th scope="col">insanceType</th>
      </tr>
    </thead>
    <tbody *ngFor="let server of servers | filter:filterMethod(filterWord) | sortArray:'name'">
      <tr>
        <td>{{ server.name | shorten:15}}</td>
      <td>{{ server.started |  date:'fullDate' }}</td>
        <td>{{ server.status | reverse }}</td>
        <td>{{ server.instanceType | uppercase }}</td>
      </tr>
    </tbody>
  </table>
</div>
