<div *ngIf="selectedRecipe;else placeholder">

  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-fluid rounded" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{selectedRecipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Add Ingredient</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <img src="" alt="" class="img-fluid rounded" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
       {{selectedRecipe.description}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
       Details
      </div>
    </div>
</div>


<ng-template #placeholder>
  <h5>Select a recipe to see details</h5>
</ng-template>