<div *ngIf="selectedRecipe; else placeholder">
  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-fluid rounded" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ selectedRecipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="dropdown">
      <button
        appDropdown [list]="list" 
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <ul #list class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item"  (click)="addIngredientsToShoppingList($event)">Add Ingredients to shoppinglist</a></li>
        <li><a class="dropdown-item" (click)="goToEditRecipe()">Edit Recipe</a></li>
        <li><a class="dropdown-item" (click)="deleteRecipe()" >Delete Recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-fluid rounded" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ selectedRecipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Ingredients:</h4>
      <ul
        class="list-group"
        *ngFor="let ingredient of selectedRecipe.ingredients"
      >
        <li class="list-group-item">{{ ingredient.name }} - {{ingredient.amount}}</li>
      </ul>
    </div>
  </div>
</div>

<ng-template #placeholder>
  <h5>Select a recipe to see details</h5>
</ng-template>
