<ng-container>
    <app-course-card [title]="'Development'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae alias beatae quaerat ipsum aliquam sequi nulla aut obcaecati dolorum tempora.'"></app-course-card>
    <app-course-card [title]="'IT & Software'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae alias beatae quaerat ipsum aliquam sequi nulla aut obcaecati dolorum tempora.'"></app-course-card>
    <app-course-card [title]="'Office Productivity'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae alias beatae quaerat ipsum aliquam sequi nulla aut obcaecati dolorum tempora.'"></app-course-card>
    <app-course-card [title]="'Photography'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae alias beatae quaerat ipsum aliquam sequi nulla aut obcaecati dolorum tempora.'"></app-course-card>
    <app-course-card [title]="'Health and Fitness'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae alias beatae quaerat ipsum aliquam sequi nulla aut obcaecati dolorum tempora.'"></app-course-card>
    <app-course-card [title]="'Music'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae alias beatae quaerat ipsum aliquam sequi nulla aut obcaecati dolorum tempora.'"></app-course-card>
</ng-container>
