<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row my-3">
        <div class="col-sm-7 form-group">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
            #itemNameInput
          />
        </div>
        <div class="col-sm-5 form-group">
          <label for="name" class="form-label">Amount</label>
          <input
            type="number"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
            #itemAmountInput
          />
        </div>
        <div class="row"></div>
        
        <div class="col-xs-12 mt-3">
          <button class="btn btn-success mx-1" (click)="onClickAdd($event,itemNameInput,itemAmountInput)">Add</button>
          <button class="btn btn-danger mx-1">Edit</button>
          <button class="btn btn-primary mx-1">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
